/* src/styles/Collapse.css */
.collapse-item {
    margin-bottom: 30px;
    width: 70%;
  }
  
  .collapse-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #FF6060;
    border-radius: 5px;
  }
  
  .collapse-title {
    color: #FFFFFF;
    font-size: 24px;
  }
  
  .collapse-icon {
    transition: transform 0.3s ease;
  }

  .fa-chevron-down {
    color: #FFFFFF;
  }
  
  .collapse-icon.open {
    transform: rotate(180deg);
  }
  
  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .collapse-description {
    font-weight: 400;
    font-size: 18px;
    color: #FF6060;
  }
  
  .collapse-content.show {
    padding: 20px;
    border-radius: 5px;
    background-color: #F6F6F6;
    max-height: 1000px; 
  }
  