header {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 310px;
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FF6060;
    padding-left: 40px;
    text-decoration: none;
}

.nav-links.active {
    text-decoration: underline;
}

@media (max-width: 768px) {

    header {
        padding: 20px 20px;
    }

    nav {
        width: 160px;
    }

    .header-logo {
        width: 145px;
    }

    .nav-links {
        font-size: 12px;
        padding-left: 8px;
    }

    .uppercase {
        text-transform: uppercase;
        white-space: nowrap;
      }
}