.home-housing-structure {
    gap: 50px;
    border-radius: 25px;
    margin: 50px 100px;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F6F6F6;
}

@media (max-width: 768px) {
    .home-housing-structure {
        border-radius: 0;
        gap: 20px;
        margin: 0;
        padding: 18px 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #FFFFFF;
    }
}
