.main-content {
    padding: 0 7%;
}

.housing-host-info {
    display: flex;
    justify-content: space-between;
}

.housing-info {
    display: flex;
    flex-direction: column;
}

.housing-title {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}

.housing-location {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
}

.housing-tags-container {
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.tag {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    padding: 5px 30px;
    border-radius: 10px;
    background-color: #FF6060;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
}

.host-info-rating {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 20px;
}

.host-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
}

.host-name-lastname {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 8px;
}

.host-name {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
}

.host-picture {
    border-radius: 50px;
    width: 64px;
    height: 64px;
}

.rating-stars {
    font-size: 24px;
}

.fa-star {
    padding: 7px;
}

.housing-collapse-component-structure {
    display: flex;
    padding-bottom: 20px;
    gap: 80px;
}

.equipment {
    margin: 0;
}

@media (max-width: 768px) {
    .main-content {
        padding: 0 20px;
    }

    .housing-host-info {
        display: flex;
        flex-direction: column;
    }

    .housing-title {
        font-size: 18px;
    }

    .housing-location {
        padding: 10px 0;
        font-size: 14px;
    }

    .housing-tags-container {
        padding: 0;
        flex-wrap: wrap;
        padding-bottom: 0;
        white-space: nowrap;
    }

    .tag {
        font-size: 10px;
    }

    .host-info-rating {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 10px 0;
    }

    .host-container {
        margin-bottom: 0;
        display: flex;
        justify-content: end;
    }

    .host-picture {
        width: 32px;
        height: 32px;
    }

    .rating-stars {
        font-size: 12px;
        display: flex;
        align-items: center;
    }

     .fa-star {
        padding: 2px;
    }

    .housing-collapse-component-structure {
        flex-direction: column;
        gap: 0;
        padding: 0;
    }

    .host-name {
        font-size: 12px;
    }
}